@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
  --primary: #2b6777;
  --light-primary: #32788b;
  --dark-gray: rgb(61, 61, 61);
  --white: white;
  --transition-time: 0.4s;
}

h1,
h2 {
  color: rgb(49, 49, 49);
}

p,
figcaption {
  line-height: 1.6;
  color: rgb(63, 63, 63);
}

body {
  margin: 0;
}

header {
  padding: 10px;
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px 50px;
}

header .logo-text {
  font-weight: bold;
  font-size: 1.5rem;
}

header .links,
.social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social {
  margin-left: 1rem;
}

.social img {
  width: 1.75rem;
  display: block;
}

.link {
  color: white;
  text-decoration: none;
  transition: filter var(--transition-time);
  position: relative;
}

.link:hover {
  filter: brightness(0.8);
}

.link.active {
  opacity: 0.5;
  pointer-events: none;
}

.underline {
  position: absolute;
  bottom: -1px;
  inset-inline: 0;
  height: 1px;
  background: white;
}

.link--button {
  background-color: var(--primary);
  padding: 5px;
  border-radius: 0.25em;
  display: inline-block;
  border: none;
}

.link--underline {
  color: var(--light-primary);
  position: relative;
  background-image: linear-gradient(var(--light-primary), var(--light-primary));
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  background-position: left bottom -1px;
  transition: background-size var(--transition-time);
}

.link--underline:hover {
  background-size: 100% 1.5px;
}

section {
  padding: 90px 30px;
}

section:nth-child(even) {
  background-color: #c8d8e4;
}

section:nth-child(odd) {
  background-color: white;
}

.content {
  max-width: 800px;
}

.hero {
  overflow: hidden;
}

.hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  row-gap: 45px;
  /* gap: 25px; */
  flex-wrap: wrap;
  margin: 0 auto;
}

.intro {
  flex: 1 1 430px;
  max-width: 600px;
}

.intro h1 {
  font-size: 1.875rem;
}

.pfp {
  position: relative;
  z-index: 1;
}

.pfp::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: var(--primary);
  transform: translate(30px, -20%);
  z-index: -1;
  opacity: 0.5;
}

.pfp::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: var(--light-primary);
  transform: translate(10px, 100%);
  opacity: 0.2;
}

.pfp img {
  border-radius: 50%;
  width: 175px;
  height: auto;
}

.projects {
  text-align: center;
}

.projects .content {
  max-width: 1000px;
  margin-inline: auto;
  padding-block: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 208px);
  justify-content: center;
  gap: 40px;
}

.project {
  margin: 0 auto;
}

.project .image {
  position: relative;
  border: 4px solid var(--primary);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: var(--dark-gray);
  width: 200px;
}

.project .image.shrink {
  height: 200px;
}

.project img {
  width: 100%;
  object-fit: contain;
  transition: var(--transition-time);
  display: block;
}

.project .image.shrink img {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: var(--transition-time);
  pointer-events: none;
}

.project .image:hover .overlay {
  opacity: 1;
  pointer-events: all;
}

.description .content {
  margin: 0 auto;
  text-align: left;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 400px) {}